
.product {
    border: 1px solid #333;
    border-radius: 50px;
    margin: 12px;
    background-color: white;
    display: inline-block;
    width: 250px;
    height: 380px;
}

.product h3 {
    margin: 5px;
    color: tomato;
}

.product img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.product-price{
    display: flex;
    flex-direction: column;
}

.product button{
    margin-top: 5px;
}